h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

.mainContent, footer.container {
    max-width: 900px;
}

footer.container {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px dashed #aaa;
}

body {
    background: url(../images/dunes.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row-fluid {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 15px;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}
